__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
.env
.DS_Store

# Keep project structure but do not commit large/raw data.
data/raw/*.csv
data/cleaned/*.csv
data/cleaned/*.parquet

# Local dashboard exports.
dashboard/*.pbix
dashboard/*.pbit
